.foot{width:100%;margin:0 auto;text-align:center; float:left}
.foot .foot_con{width:100%; background:#f0eeee;}
.foot .foot_con .foot_1{height:140px; width:1200px; margin:0 auto;}
.foot .foot_con .foot_1 .li_01{float:left; text-align:center; width:200px; padding-top:20px;}
.foot .foot_con .foot_1 .li_01 ul .li_001{font-size:14px;}
.foot .foot_con .foot_1 .li_01 ul .li_002{background:url(../images/lxYG.png) no-repeat;width:100px;height:30px; line-height:30px; text-align:center;margin:0 auto;}
.foot .foot_con .foot_1 .li_01 ul .li_002 a{color:#FFF;}
.foot .foot_con .foot_1 .li_01 ul .li_002 img{ margin-right:10px; margin-top:5px;}
.foot .foot_con .foot_1 .li_01 ul li{height:20px; line-height:20px;}
.foot .foot_2 a{ display:inline-block; margin-left:15px; margin-right:15px;}