.top{width:100%;}
.top .top_link{background:#FFDCEA; width:100%;height:30px;}
.top .top_link .link_content{/*border:1px #000000 solid;*/width:1200px;margin:0 auto;height:30px;line-height:30px;}
.top .top_link .link_content .link_left{margin-left:20px; float:left;}
.top .top_link .link_content .link_right{ margin-left:760px;}
.top .top_link .link_content .link_right div{float:left;/*width:120px;*/ margin-left:10px;margin-right:10px;text-align:center; background:#FFDCEA; border:#FFDCEA 1 solid; position:relative;}
.top .top_link .link_content .link_right div img{ vertical-align:middle;}
.top .top_link .link_content .link_right div ul{/**/display:none;position:absolute;top:30px; left:0px; text-align:center;background:#FFDCEA;}
.top .top_link .link_content .link_right .YG_lx{ position:relative;}
.top .top_link .link_content .link_right div .YG_wc{/**/display:none;position:absolute; right:-22px; top:30px;}
.top .top_content{ background:#FFffff;height:90px;width:1200px; margin:0 auto;}
.top .top_content li{float:left; text-align:center;}
.top .top_content .logo{margin:20px 10px 20px 70px;height:40px; line-height:40px;}
.top .top_content .search{margin:20px 30px 20px 180px;}
.top .top_content .search form{line-height:30px;}
.top .top_content .search form .sea_sr{padding-left:20px;width:280px;height:30px; background:url(../images/sea_bg.png) center no-repeat;border:none; overflow:hidden;}
.top .top_content .search form .sea_sm{width:60px;height:30px; background:url(../images/sea_sm.png) center no-repeat;border:none;}
.top .top_content .search a{height:20px;line-height:20px; text-align:center;float:left; margin-left:10px;}
.top .top_content .SCt{height:40px; line-height:40px; width:120px; margin:15px 120px 25px 110px; background:url(../images/SPc.jpg) no-repeat center;}
.top .top_content .SCt a{ text-align:center; font-size:14px;color:#f73080;}
.top .top_content .SCt a img{/*margin-top:10px;*/ vertical-align:middle;margin-right:10px;}
.nav{height:30px; border-bottom:1px #f73080 solid; width:100%;}
.nav ul{width:1200px;margin:0 auto;}
.nav ul li{float:left;height:30px; line-height:30px;text-align:center; margin-right:60px; font-size:16px;}
.nav ul .all{width:200px; margin-left:60px; height:30px;position:relative;}
.nav ul .all .all_list{background:#f73080;}
.nav ul .all .all_list a{color:#fff;font-size:16px;}
.nav ul .all .all_link{/**/ display:none;background:rgba(248,89,139,0.93);position:absolute;top:30px;left:0px;width:200px; z-index:6;}
.nav ul .all .all_link div{line-height:40px;position:relative;}
/*.nav ul .all .all_link div:hover{background:rgba(195,0,72,0.70);background:rgba(247,48,128,1);border:#fff solid 1px;}*/
.nav ul .all .all_link div a{font-size:16px;color:#840049;}
.nav ul .all .all_link div .hover{display:block;}
.nav ul .all .all_link div ul{/*padding-left:20px;*/top:0px; display:none; position:absolute;left:200px;width:160px;background:rgba(248,89,139,0.93);}
.nav ul .all .all_link div ul li{float:left;margin:auto 0px; border:1px solid #840049; line-height:40px; height:40px;}
.nav ul .all .all_link {color:#FFFFFF; font-size:14px;}
.nav ul .all img{vertical-align:middle;margin-right:10px;}
.nav ul .all .all_list a{ display:inline-block; width:100%; height:100%;}
.nav ul .all .all_link a{border:#840049 solid 1px; display:inline-block; width:198px; height:100%;}
.nav ul .all .all_link div ul li a{ border:none; color:#840049;width:160px;}
.nav ul .all .all_link a:hover{color:#fff;border:#fff solid 1px;text-decoration:none; background:#f73080;}
.nav ul .hover a{color:#f73080;}
.nav ul .all .all_link div ul li a:hover{ border:#fff solid 1px;}
.Search_box{width:100%;}
.Search_box .S_C_s{ width:1200px; margin:0 auto;}
.Search_box .S_C_s h2{ height:30px; font-size:16px; color:#f73080;margin-left:60px; cursor:pointer; width:20%;}
.Search_box .S_C_s h2 img{ vertical-align:middle;}
.Search_box .S_C_s ul{/**/ display:none;margin-left:20px; background:#FFEFF5;}
.Search_box .S_C_s ul li{ width:100%; height:30px; line-height:30px; margin-left:20px;}
.Search_box .S_C_s ul li h3{ display:inline-block; margin-left:20px;}
.Search_box .Search_rk{ width:1200px; margin:0 auto; border-bottom:1px solid #f73080;height:30px;}
.Search_box .Search_rk .rank{margin-left:60px;}
.Search_box .Search_rk .rank li,.Search_box .Search_rk div{height:30px; line-height:30px; float:left; width:80px; text-align:center;}
.Search_box .Search_rk .rank li:hover{background:#f73080;}
.Search_box .Search_rk .rank li a,.Search_box .Search_rk div{font-size:14px;}
.Search_box .Search_rk .rank .hover{background:#f73080;}
.Search_box .Search_rk .rank .hover a{color:rgba(255,255,255,1.00);}
.Search_box .Search_rk .rank li a:hover{color:rgba(255,255,255,1.00);}
.Search_box .Search_rk .rank li img{ vertical-align:middle;}
.ff{width:1200px;margin:0 auto;}
.ff dl{ width:224px;margin:10px 5px 0 5px; position:relative; float:left; overflow:hidden;}
.ff dl a dd{height:40px; line-height:20px;}
.ff dl a dt{ width:224px; overflow:hidden; height:224px;}
.ff dl a:hover dt img{ transform:scale(1.1); transition:all 1s ease;}
.ff .ff_box li dl{ width:224px;margin:10px 5px 0 5px; position:relative; float:left; overflow:hidden;}
.ff dl a .pay_for{height:40px; line-height:40px; font-size:18px; color:#f73080}
.ff dl a .pay_for span{position:absolute;left:120px; font-size:14px; color:#999999;}
.ff dl a .pay_for span strong{ font-size:16px;color:#f73080}
.ff dl a .jn_SC{position:absolute;bottom:-40px;left:120px;height:40px; line-height:40px; margin:0 auto;width:90px;font-size:16px;background:#f73080;color:#FFFFFF; text-align:center;}
.ff .page{margin:20px 10px 10px 750px;height:30px;}
.ff .page li{float:left; margin-right:10px; text-align:center; font-size:14px;line-height:30px; width:50px;}
.ff .page li a,.ff .page li input{ display:inline-block; height:30px;line-height:30px; text-align:center;  width:50px;border:1px #B4B4B4 solid;}
.ff .page li a:hover,.ff .page li input:hover{border:1px #f73080 solid;}
.ff .page .now_page,.ff .page .now_page:hover{border:none; height:30px; line-height:30px;}
.foot{width:100%;margin:0 auto;text-align:center; float:left}
.foot .foot_con{width:100%;/* background:#FFD2E6;*/background:#ffebf4;}
.foot .foot_con .foot_1{height:140px; width:1200px; margin:0 auto;}
.foot .foot_con .foot_1 .li_01{float:left; text-align:center; width:200px; padding-top:20px;}
.foot .foot_con .foot_1 .li_01 ul .li_001{font-size:14px;}
.foot .foot_con .foot_1 .li_01 ul .li_002{background:url(../images/lxYG.png) no-repeat;width:100px;height:25px; line-height:25px;margin:0 auto;}
.foot .foot_con .foot_1 .li_01 ul .li_002 a{color:#FFF; text-align:center;}
.foot .foot_con .foot_1 .li_01 ul .li_002 img{/* margin-right:10px; margin-top:6px;*/ vertical-align:middle;}
.foot .foot_con .foot_1 .li_01 ul li{height:20px; line-height:20px;}
.foot .foot_2 a{ display:inline-block; margin-left:15px; margin-right:15px;}