.top{width:100%;}
.top .top_link{background:#FFEFF5; width:100%;height:30px;}
.top .top_link .link_content{/*border:1px #000000 solid;*/width:1200px;margin:0 auto;height:30px;line-height:30px;}
.top .top_link .link_content .link_left{margin-left:20px; float:left;}
.top .top_link .link_content .link_right{ margin-left:760px;}
.top .top_link .link_content .link_right div{float:left;/*width:120px;*/ margin-left:10px;margin-right:10px;text-align:center; background:#FFEFF5; border:#FFDCEA 1 solid; position:relative;}
.top .top_link .link_content .link_right div img{ vertical-align:middle;}
.top .top_link .link_content .link_right div ul{/**/display:none;position:absolute;top:30px; left:0px; text-align:center;background:#FFEFF5;}
.top .top_link .link_content .link_right .YG_lx{ position:relative;}
.top .top_link .link_content .link_right div .YG_wc{/**/display:none;position:absolute; right:-22px; top:30px;}
.top .top_menu{ background:#f73080; width:100%; height:90px;}
.top .top_menu .menu{width:1200px;margin:0 auto;}
.top .top_menu .menu .user{ float:left; line-height:90px; margin-left:40px; color:rgba(255,255,255,1.00); font-size:18px;}
.top .top_menu .menu .user a img{ vertical-align:middle; margin-right:15px;}
.top .top_menu .menu ul li{ float:left; line-height:90px; width:80px; text-align:center; margin-left:20px;}
.top .top_menu .menu ul li a{ color:#FFFFFF; font-size:14px;}
.top .top_menu .menu form{ line-height:90px; float:left; margin-left:60px;}
.top .top_menu .menu form .search_inp{ border:none; background:#FFFFFF; height:30px; line-height:30px; padding-left:10px; width:300px;}
.top .top_menu .menu form .search_sub{ border:none; background:url(../images/search_z.png); height:30px; line-height:30px;width:30px;}
.top .top_menu .menu .u_S_cart{ float:left; line-height:90px; margin-left:20px; text-align:center; width:170px;}
.top .top_menu .menu .u_S_cart a{ color:#f73080; font-size:14px; height:30px; line-height:30px; width:120px; display:inline-block; background:rgba(255,255,255,1.00); cursor:pointer;}
.top .top_menu .menu .u_S_cart a img{ vertical-align:middle; margin-right:10px;}
.u_content{ width:1200px; margin:0 auto;}
.u_content .con_left{ margin-left:40px; line-height:40px; background:rgba(239,239,239,1.00); width:160px; text-align:center; float:left;}
.u_content .con_left h1{ border:1px solid #CCCCCC; font-size:16px;}
.u_content .con_left h1 img{ vertical-align:middle; margin-right:10px;}
.u_content .con_left .hover{ background:rgba(255,255,255,1.00);}
.u_content .con_left h1:hover,.u_content .con_left ul li:hover{ background:rgba(255,255,255,1.00);}
.u_content .con_left ul li{ border:1px solid #CCCCCC;font-size:14px;}
.u_content .con_right{ float:left; width:980px; margin-left:20px;}
.u_content .con_right .user_info{ width:100%; border:1px solid #CCCCCC; height:100px; line-height:100px;}
.u_content .con_right .user_info div{ float:left; line-height:30px;}
.u_content .con_right .user_info ul{ float:left;}
.u_content .con_right .user_info ul li{ height:30px;line-height:30px; margin-top:10px; width:400px; padding-left:20px;}
.u_content .con_right .user_info .order_list{ margin-right:60px;}
.u_content .con_right .user_info .order_list li{ float:left; border-radius:60px; height:60px; width:60px; cursor:pointer; line-height:60px; background:#ccc; margin-left:20px; padding-left:0px; margin-top:15px;text-align:center; }
.u_content .con_right .user_info .order_list li a{text-align:center; font-size:14px;}
.u_content .con_right .user_info ul li strong{color:#f73080; font-size:16px; margin-right:0px;}
.u_content .con_right .recent_orders{ width:100%;/* border:1px solid rgba(247,112,114,1.00);*/}
.u_content .con_right .recent_orders h1{ height:40px; line-height:40px; font-size:16px;}
.u_content .con_right .recent_orders h1 span{ font-size:14px;float:right; margin-right:20px;}
.u_content .con_right .recent_orders table{ width:100%;}
.u_content .con_right .recent_orders table thead tr{ background:#f73080; height:30px; line-height:30px;}
.u_content .con_right .recent_orders table thead tr th{ text-align:center; color:#FFFFFF; font-size:14px;}
.prt_box{width:400px;}
.pre_box{width:90px;}
.many_box{width:140px;}
.actual_payment{width:90px;}
.trading_sta{width:130px;}
.trading_pra{width:130px;}
.prt_box a{float:left; height:120px;}
.u_content .con_right .recent_orders table tbody .tr_h_sp{ border:none;}
.u_content .con_right .recent_orders table tbody .order_top{ height:30px; line-height:30px; background:#FFD4E7;  width:980px;}
.u_content .con_right .recent_orders table tbody .order_top td{ height:30px; line-height:30px; text-align:left; padding-left:20px;}
.u_content .con_right .recent_orders table tbody .u_order_info{ border:1px solid #FFD4E7;}
.u_content .con_right .recent_orders table tbody .u_order_info .prt_box{ height:120px; overflow:hidden;}
.u_content .con_right .recent_orders table tbody .u_order_info .prt_box a{ text-align:left; vertical-align:middle;}
.u_content .con_right .recent_orders table tbody .u_order_info .prt_box a img{ vertical-align:middle; margin:20px; float:left;}
.u_content .con_right .recent_orders table tbody .u_order_info .prt_box a ul{ float:left; margin-top:20px;}
.u_content .con_right .recent_orders table tbody .u_order_info .prt_box a ul li{width:250px;}
.u_content .con_right .recent_orders table tbody .u_order_info .many_box{height:20px; text-align:center; margin:auto 0;}
.u_content .con_right .recent_orders table tbody .u_order_info .many_box a{ display:inline-block; width:20px; height:20px; line-height:20px; border:1px solid #CCCCCC;}
.u_content .con_right .recent_orders table tbody .u_order_info .many_box{text-align:center;}
.u_content .con_right .recent_orders table tbody .u_order_info .trading_pra a,.u_content .con_right .recent_orders table tbody .u_order_info .trading_sta a{line-height:15px; display:inline-block; height:15px; font-size:14px;}
.u_content .con_right .recent_orders table tbody tr td{ text-align:center;}
.u_content .con_right .G_y_l{ width:100%;}
.u_content .con_right .G_y_l h1{ margin-bottom:0px; margin-left:0px; text-align:left; background:#f73080; height:30px; line-height:30px; color:#fff; font-size:16px; padding-left:20px;}
.u_content .con_right .G_y_l dl{ width:224px;margin:10px 5px 0 5px; position:relative; float:left; overflow:hidden;}
.u_content .con_right .G_y_l dl a dt{ width:224px; overflow:hidden; height:224px;}
.u_content .con_right .G_y_l dl a:hover dt img{ transform:scale(1.1); transition:all 1s ease;}
.u_content .con_right .G_y_l dl a dd{height:40px; line-height:20px;}
.u_content .con_right .G_y_l dl a .pay_for{height:40px; line-height:40px; font-size:18px; color:#f73080}
.u_content .con_right .G_y_l dl a .pay_for span{position:absolute;left:120px; font-size:14px; color:#999999;}
.u_content .con_right .G_y_l dl a .pay_for span strong{ font-size:16px;color:#f73080}
.u_content .con_right .G_y_l dl a .jn_SC{position:absolute;bottom:-40px;left:120px;height:40px; line-height:40px; margin:0 auto;width:90px;font-size:16px;background:#f73080;color:#FFFFFF; text-align:center;}
.foot{width:100%;margin:0 auto;text-align:center; float:left;}
.foot .foot_con{width:100%;background:#ffebf4;}
.foot .foot_con .foot_1{height:140px; width:1200px; margin:0 auto;}
.foot .foot_con .foot_1 .li_01{float:left; text-align:center; width:200px; padding-top:20px;}
.foot .foot_con .foot_1 .li_01 ul .li_001{font-size:14px;}
.foot .foot_con .foot_1 .li_01 ul .li_002{background:url(../images/lxYG.png) no-repeat;width:100px;height:25px; line-height:25px;margin:0 auto;}
.foot .foot_con .foot_1 .li_01 ul .li_002 a{color:#FFF; text-align:center;}
.foot .foot_con .foot_1 .li_01 ul .li_002 img{/* margin-right:10px; margin-top:6px;*/ vertical-align:middle;}
.foot .foot_con .foot_1 .li_01 ul li{height:20px; line-height:20px;}
.foot .foot_2 a{ display:inline-block; margin-left:15px; margin-right:15px;}