.top{width:100%;}
.top .top_link{background:#FFEFF5; width:100%;height:30px;}
.top .top_link .link_content{/*border:1px #000000 solid;*/width:1200px;margin:0 auto;height:30px;line-height:30px;}
.top .top_link .link_content .link_left{margin-left:20px; float:left;}
.top .top_link .link_content .link_right{ margin-left:760px;}
.top .top_link .link_content .link_right div{float:left;/*width:120px;*/ margin-left:10px;margin-right:10px;text-align:center; background:#FFEFF5; border:#FFDCEA 1 solid; position:relative;}
.top .top_link .link_content .link_right div img{ vertical-align:middle;}
.top .top_link .link_content .link_right div ul{/**/display:none;position:absolute;top:30px; left:0px; text-align:center;background:#FFEFF5;}
.top .top_link .link_content .link_right .YG_lx{ position:relative;}
.top .top_link .link_content .link_right div .YG_wc{/**/display:none;position:absolute; right:-22px; top:30px;}
.top .top_menu{ background:#f73080; width:100%; height:90px;}
.top .top_menu .menu{width:1200px;margin:0 auto;}
.top .top_menu .menu .user{ float:left; line-height:90px; margin-left:40px; color:rgba(255,255,255,1.00); font-size:18px;}
.top .top_menu .menu .user a img{ vertical-align:middle; margin-right:15px;}
.top .top_menu .menu ul li{ float:left; line-height:90px; width:80px; text-align:center; margin-left:20px;}
.top .top_menu .menu ul li a{ color:#FFFFFF; font-size:14px;}
.top .top_menu .menu form{ line-height:90px; float:left; margin-left:60px;}
.top .top_menu .menu form .search_inp{ border:none; background:#FFFFFF; height:30px; line-height:30px; padding-left:10px; width:300px;}
.top .top_menu .menu form .search_sub{ border:none; background:url(../images/search_z.png); height:30px; line-height:30px;width:30px;}
.top .top_menu .menu .u_S_cart{ float:left; line-height:90px; margin-left:20px; text-align:center; width:170px;}
.top .top_menu .menu .u_S_cart a{ color:#f73080; font-size:14px; height:30px; line-height:30px; width:120px; display:inline-block; background:rgba(255,255,255,1.00); cursor:pointer;}
.top .top_menu .menu .u_S_cart a img{ vertical-align:middle; margin-right:10px;}
.u_content{ width:1200px; margin:0 auto;}
.u_content .con_left{ margin-left:40px; line-height:40px; background:rgba(239,239,239,1.00); width:160px; text-align:center; float:left;}
.u_content .con_left h1{ border:1px solid #CCCCCC; font-size:16px;}
.u_content .con_left h1 img{ vertical-align:middle; margin-right:10px;}
.u_content .con_left .hover{ background:rgba(255,255,255,1.00);}
.u_content .con_left h1:hover,.u_content .con_left ul li:hover{ background:rgba(255,255,255,1.00);}
.u_content .con_left ul li{ border:1px solid #CCCCCC;font-size:14px;}
.u_content .con_right{ float:left; width:980px; margin-left:20px;}
.u_content .con_right ul{ border-bottom:rgba(127,66,67,1.00) 1px solid; height:40px; line-height:40px; padding-left:40px;}
.u_content .con_right ul li{ float:left; width:80px; height:40px; font-size:14px;}
.u_content .con_right ul .hover a{ color:#f73080;}
.u_content .con_right .change_box{ width:100%; margin:0 auto; /*border:1px solid rgba(127,66,67,1.00);*/}
.u_content .con_right .change_box #change_info{ margin:40px;/* border:1px solid rgba(127,66,67,1.00);*/}
.u_content .con_right .change_box #change_info ul{ height:100%; position:relative; border-bottom:none;}
.u_content .con_right .change_box #change_info ul li{ float:none; height:30px; line-height:30px; width:400px; border:none; font-size:14px; margin-bottom:10px;}
.u_content .con_right .change_box #change_info ul li span{ position:absolute; right:85%;}
.u_content .con_right .change_box #change_info ul li strong{/* */position:absolute; left:15%;}
.u_content .con_right .change_box #change_info ul .c_nickname input,.u_content .con_right .change_box #change_info ul .c_date input{ border:solid 1px #f73080;border-radius:5px; text-indent:1em; height:30px; line-height:30px; width:200px;}
.u_content .con_right .change_box #change_info ul .c_sex{ height:30px; line-height:30px; text-align:center;}
.u_content .con_right .change_box #change_info ul .c_sex input{border:solid 1px #f73080;border-radius:15px; height:15px; width:15px;}
.u_content .con_right .change_box #change_info ul .c_phone .chg_box,.u_content .con_right .change_box #change_info ul .c_email .chg_box{ border:solid 1px #f73080;border-radius:5px; text-indent:1em; height:30px; line-height:30px; width:200px;}
.ok{ color:rgba(0,204,55,1.00);}
.no{ color:rgba(232,0,7,1.00)}
.u_content .con_right .change_box #change_info ul strong i{font-size:12px; color:#999999; margin-left:5px;}
.u_content .con_right .change_box #change_info ul .c_h_p{ float:right; margin-top:-150px; height:200px; text-align:center; position:relative;}
.u_content .con_right .change_box #change_info ul .c_h_p input{border:solid 1px #f73080;border-radius:5px; height:30px; line-height:30px;}
.u_content .con_right .change_box #change_info ul .c_h_p .file_mr{ opacity:1;}
.u_content .con_right .change_box #change_info ul .c_h_p .file_sr{/**/display:none; position:absolute; bottom:35px; left:150px; width:180px}
.u_content .con_right .change_box #change_info ul .c_h_p .file_sty{ /*display:none;*/ position:absolute; bottom:29px; left:90px; width:60px;border:none; background:#FFFFFF; height:30px; line-height:30px; text-align:center;}
.u_content .con_right .change_box #change_info ul .c_h_p .sc_h_p{border:solid 1px #f73080;border-radius:5px; height:30px; line-height:30px; width:80px; text-align:center; margin-top:15px; background:none;}
.u_content .con_right .change_box #change_info .sub{font-size:16px; color:#f73080; height:30px; line-height:30px; width:90px; text-align:center; cursor:pointer;margin-bottom:10px;border:solid 1px #f73080;border-radius:5px; background:none; margin-left:45%;margin-top:70px;}
.foot{width:100%;margin:0 auto;text-align:center; float:left;}
.foot .foot_con{width:100%;background:#ffebf4;}
.foot .foot_con .foot_1{height:140px; width:1200px; margin:0 auto;}
.foot .foot_con .foot_1 .li_01{float:left; text-align:center; width:200px; padding-top:20px;}
.foot .foot_con .foot_1 .li_01 ul .li_001{font-size:14px;}
.foot .foot_con .foot_1 .li_01 ul .li_002{background:url(../images/lxYG.png) no-repeat;width:100px;height:25px; line-height:25px;margin:0 auto;}
.foot .foot_con .foot_1 .li_01 ul .li_002 a{color:#FFF; text-align:center;}
.foot .foot_con .foot_1 .li_01 ul .li_002 img{/* margin-right:10px; margin-top:6px;*/ vertical-align:middle;}
.foot .foot_con .foot_1 .li_01 ul li{height:20px; line-height:20px;}
.foot .foot_2 a{ display:inline-block; margin-left:15px; margin-right:15px;}